<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnWarning="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="CI3-PHP8.3 Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>application</directory>
            <directory>system/core</directory>
        </include>
        <exclude>
            <directory>application/cache</directory>
            <directory>application/logs</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
</phpunit>
